.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-rows: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    border: #8EB7C5 4px solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    align-items: center;
}

.titleContainer {
    border: #8EB7C5 4px solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    align-items: center;
}

.informationContainerLink {
    text-decoration: none;
    color: black;
}

.title {
    margin: 2px;
    text-align: center;
}

.image {
    width: 15em;
    padding: 1px;
}

.imageIndex {
    width: 20em;
    padding: 1px;
    height: 200px;
}

.notes {
    font-size: 20px;
    margin: 10px;
}