.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-rows: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    /*width: 415px;*/
    border: #8EB7C5 4px solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    align-items: center;
    position: relative;
    height: 18rem;
}

.titleContainer {
    border: #8EB7C5 4px solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    align-items: center;
}

.informationContainerLink {
    text-decoration: none;
    color: black;
}

.title {
    margin: 2px;
    text-align: center;
    font-size: 20px;
}

.image {
    /*width: 15em; */
    padding: 1px;
}

.forBiggerImages {
    width: 24em;
    padding: 1px;
}

.forSmallerImages {
    width: 24em;
    padding: 1px;
    margin-top: 21px;
}

.forDoubleImages {
    width: 20rem;
    padding: 1px;
}

.deleteImage {
    width: 24em;
    padding: 1px;
    margin-top: 20px;
}

.notes {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 10px;
    margin-right: 5px;
}